/*******************************************************************************
 * Projekt, Kurs: DT167G
 * File: style.css
 * Desc: Stype for the pretend phone
 * 
 * Erho0903
 ******************************************************************************/

 /* Default settings */
.phone{
	width:245px;
	height:436px;
	display:block;
	background-image: url("../img/phone.png");
	overflow: auto;
	cursor:pointer;
	position: fixed;
	right:-225px;
	top:80px;
}
.phone p{
	margin-top:120px;
	margin-left:20px;
	max-width:170px;
	font-size: 11px;
	color:#222;
	background-color: #ddd;
	border-radius: 12px;
	padding:2px 8px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}