/*******************************************************************************
 * Projekt, Kurs: DT167G
 * File: style.css
 * Desc: Style sheets for Projekt
 *
 * Your name here
 ******************************************************************************/

 /* Default settings */
*{
	color:black;
	padding:0px;
	margin:0px;
	font-size: 10px;
	text-decoration:none;
	box-sizing: border-box;
	border:0px solid black;
	border-spacing: 0;
    border-collapse: collapse;
}
html{
	height:100%;
}
body{
	background-color:#fff;
	background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-size: cover;
	height:100%;
}

h1{
	font:28px arial,sans-serif;
	padding:0 10px;
}
h2{
	font:24px arial,sans-serif;
	padding:2px 0 5px 0;
}
h3{
	font:20px arial,sans-serif;
}
p, label, input, button, .button, a, td, th, select, option{
	font:16px arial,sans-serif;
}

button, .button, .button2{
	padding:1px 3px;
	border-radius: 2px;
	border:1px solid #889988;
	background-color: #aaccaa;
}
button:hover, .button:hover, .button2:hover{
	border:1px solid #aaccaa;
	background-color: #cceecc;
	cursor: pointer;
}
.button2{
	background-color: #ee9;
	border:1px solid #cc7;
	color:black;
}
.hiddan{
	display:none !important;
}
hr{
	height:4px;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	border:1px inset black;
	border-radius: 3px;
}
/* Site parts */
header, footer, main{
	background-color: rgba(255,255,255,0.5);
	max-width: 900px;
	margin:auto;
	border-radius: 1px;
	position: relative;
}
.error{
	color:red;
}

/* header */
header{
	min-height:150px;

}

#title{
	display:inline-block;
}

header h1{
    font:65px arial,sans-serif;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom:50px;
    text-align: left;
    display:inline-block;
}

form{
    margin: 2px;
}
#logBox{
	display:inline-block;
    position:absolute;
    right:0px;
    top:0px;
    margin-right: 20px;
}

label{
    display: block;
}

#buttons {
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}

/* main */
main{
	min-height:500px;
	overflow: auto;
}
#filterbar{
	background-color: white;
	display: block;
	padding:10px;
}
#filterbar h1{
	display: inline-block;
}
#filterbar h2{
	font-size: 20px;
}
#filterbar form{
	display: inline;
}
#filterbar form div{
	padding:0px 10px;
	font-size: 16px;
	display:inline-block;
	vertical-align: top;
}
#filterbar form p{
	display: inline-block;
	width:100px;
	text-align: right;
	padding-top: 10px;
}
#filterbar form input{
	background-color: #aaf;
	padding:2px 5px;
}
#filterbar form button{
	vertical-align: bottom;
}

#newMessageBox textarea{
	display: block;
	margin:0 10%;
	width:80%;
	height:100px;
	font-size: 14px;
	padding:4px;
}
#newMessageBox button{
	font-size: 20px;
	padding:5px 10px;
	margin:2px auto;
	display:block;
}


#messageBox{
	display:block;
	min-height: 400px;
}
#messageBox h2{
	padding:10px;
}
.message{
	width:80%;
	margin:1% 10%;
	border:2px solid black;
	border-radius: 10px;
	background-color: white;
	padding:10px;
	position: relative;
}
.message .voting{
	position: absolute;
	right:2px;
}
.voting p{
	color:grey;
	font-size:14px;
}
.messageText{
	font-size:18px;
	padding-bottom:10px;
}
.messageInfo{

	display: block;
	color:grey;
	margin-top:3px;
}
.upvote, .downvote{
	width:40px;
	height:40px;
	font-size: 30px;
	text-align: center;
	line-height: 40px;
}

.upvote{
	background-color: green;
}
.downvote{
	background-color: red;
}




.padder{
	padding:20px;
}



/* footer */
footer{
	min-height:100px;
	clear:both;
	position:relative;
}
footer p{
	font-size:13px;
	color: #555;
	text-align: center;
	padding:5px 0;
}


.formwrapper{
	width: 300px;
	margin: 0 auto;
}

.formwrapper input{
	width: 300px;
	margin-bottom: 5px;
}

.formwrapper h2{
	padding-top: 5px;
	padding-bottom: 5px;
}

#errormsg{
	margin-top: 10px;
	color: red;
}
